* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    background-color: aquamarine;
}

div.grid-wrapper {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

div.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}